:root {
    --blue: #3DBDF6;
    --white: #FFFFFF;
    --softblue: #15526A;
    --lightgray: #7A8185;
    --whisper: #E5E5E5;
    --cyanblue: #062436;
    --CMYK: #f7fafb;
    --aliceblue: #F3FCFF;

}