body {
    font-family: 'Proxima Nova Rg', Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: var(--whisper);
}
h1,h2,h3,h3 {
    color: var(--cyanblue);
    text-transform: uppercase;
}

h3 {
    font-weight: 500;
    font-family: 'Proxima Nova Lt', Helvetica, Arial, sans-serif;
}